@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

/*main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 325px;
    background-image: url('../images/smart-money-bg.jpg');
    background-size: cover;
    height: 100vh;
    align-items: center;
    padding: 20px 20px 50px;
}*/

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    /*background-image: url('../images/bg-smart-money.png');
    background-size: cover;*/
    background-color: #f2f2f2;

    font-family: 'Inter', sans-serif;
    min-width: 330px;
}

.conteudo {
    flex: 1;
}
.head {
    background-color: #259647;
    box-shadow: 0 4px 10px 0 rgba(68, 1, 8, 0.1);
    width: 100%;
    min-height: 140px;
}
.head-content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
}

.headLeft {
    flex: 50;
    display: flex;
}

.headLeft img {
    max-width: 110px;

    & {
        transition: all 0.2s ease-in-out;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.headRight {
    flex: 50;
    display: flex;
    justify-content: flex-end;
}

.add-transaction {
    padding: 3px 10px;
    margin-left: 20px;
    border-radius: 50px;
    background-color: #0cd853;
    color: #fff;
    cursor: pointer;
    animation: pulseAdd 1s infinite;
    animation-timing-function: linear;
    font-size: 1em;
}

/* INICIO TOTAL VALORES */
.content-total {
    display: flex;
    margin-bottom: 20px;
}
.content_total_values {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 15px 0 rgba(68, 1, 8, 0.1);
}
.total1,
.total2,
.total3 {
    flex: 100;
}
.total2 {
    margin-left: 20px;
    margin-right: 20px;
}
.column-total-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    min-height: 40px;
}
.column-title {
    display: flex;
    color: #fff;
    padding: 5px 10px;
    font-size: 1em;
}
.column-icon i {
    font-size: 1.3em;
    padding: 5px;
    color: #fff;
}

.column-total-right {
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
}
.total-number {
    font-size: 1.5em;
    font-weight: bold;
}

/*/////////////*/
.list-transactions {
    width: 100%;
    margin: auto;
    max-width: 1000px;
    margin-top: -60px;
    margin-bottom: 60px;
    padding-left: 10px;
    padding-right: 10px;
    /*background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 15px 0 rgba(68, 1, 8, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);*/
    border-radius: 10px;
}

.list-transactions h1 {
    text-align: center;
    font-size: 1.5em;
    margin-top: -30px;
    padding-bottom: 30px;
    color: #fff;
}

.title-fields {
    display: flex;
    background-color: #333;
    border-radius: 10px 10px 0 0;
    padding: 5px 10px;
    font-size: 14px;
    color: #fff;
}
.title-date {
    flex: 14;
    padding-left: 30px;
}
.title-value {
    flex: 13;
}
.title-type {
    flex: 24;
    padding-left: 10px;
}
.title-description {
    flex: 30;
    padding-left: 10px;
}

ol li.expense i {
    padding: 5px;
    margin-left: 15px;
    margin-right: 3px;
    font-size: 0em;
    border-radius: 20px;
}

ol {
    display: block;
}

ol li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    background-color: white;
    cursor: pointer;
    padding: 10px 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(68, 1, 8, 0.1);
    transition: all 0.3s ease-in-out;
}
ol li:nth-child(even) {
    background-color: #f5f5f5; /* Cor para as linhas pares */
}
ol li:last-child {
    border-radius: 0 0 10px 10px;
}

ol li:hover {
    opacity: 0.9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    & {
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: scale(1.04);
        }
    }
}

ol li.income i {
    padding: 5px;
    margin-left: 15px;
    margin-right: 3px;
    font-size: 0em;
    border-radius: 20px;
}

ol li.expense .tipotransacao::before {
    content: '↓';
    background-color: #a52a2a;
    color: #fff;
    border-radius: 20px;
    padding: 0px 2px;
    font-size: 15px;
    top: 16px;
    left: 5px;
    position: absolute;
}

ol li.income .tipotransacao::before {
    content: '↑';
    background-color: #0cd853;
    color: #fff;
    border-radius: 20px;
    padding: 0px 2px;
    font-size: 15px;
    top: 16px;
    left: 5px;
    position: absolute;
}

ol li.income .classmoney {
    color: #08742e;
}

ol li.expense .classmoney {
    color: #771f1f;
}

ol li:hover button.danger {
    display: block;
    cursor: pointer;
}

ol li:hover button.danger:hover {
    background-color: #a52a2a;
    color: #fff;
}

button.danger {
    background-color: transparent;
    color: #a52a2a;
    border: 1px solid #a52a2a;
    border-radius: 50px;
    padding: 4px 8px;
    font-size: 12px;
    right: 10px;
    top: 10px;
    display: none;
    position: absolute;
}

button.danger::after {
    content: 'Remover transação';
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease;
}

button.danger:hover::after {
    visibility: visible;
    opacity: 1;
}

.classdate {
    font-weight: bold;
    margin-left: 40px;
    margin-right: 10px;
    width: 15%;
}
.classmoney {
    width: 15%;
    margin-right: 10px;
}

.classtype {
    width: 25%;
    margin-right: 30px;
}
.classdescription {
    max-width: 310px;
    width: 45%;
}

.classdescription i,
.classtype i,
.classdate i,
.classmoney i {
    display: none;
}
p {
    margin: 4px 0;
}
button.fab {
    width: 54px;
    height: 54px;
    border-radius: 50px;
    border: none;
    font-size: 24px;
    box-shadow: 2px 2px 2px #0cd853;
    background-color: #0cd853;
    color: #fff;
    position: absolute;
    cursor: pointer;
    animation: pulse2 1s infinite;
    animation-timing-function: linear;
}
button.fab:hover {
    background: rgb(255, 255, 255);
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 0%,
        rgba(12, 216, 83, 1) 100%,
        rgba(173, 255, 195, 1) 100%
    );
    box-shadow: 2px 2px 2px #fff;
    color: #0cd853;
}
button.fab.fixed {
    position: fixed;
}
button.fab.bottom {
    bottom: 32px;
}
button.fab.right {
    right: 32px;
}
/* FIM CSS LISTA */

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
    .main {
        padding: 0px;
        margin: 0px;
    }
    .headLeft {
        flex: 50;
    }
    .headRight {
        flex: 50;
    }
    .total2 {
        margin-left: 10px;
        margin-right: 10px;
    }
    .total-number {
        font-size: 1.2em;
    }
    .column-title {
        font-size: 0.9em;
    }
    .column-icon i {
        font-size: 1.1em;
    }

    .add-transaction {
        font-size: 1em !important;
    }
    #transactions {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }
    .title-fields {
        display: none;
    }

    .content-total {
        margin-bottom: 10px;
    }

    ol {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    ol li {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        margin-bottom: 10px;
        border-radius: 10px;
        background: white;
        padding: 8px 16px 16px 0px;
        width: 210px;
        min-height: 150px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(68, 1, 8, 0.1);
        margin-bottom: 25px;
    }
    ol li.expense i {
        background-color: #a52a2a;
        padding: 5px;
        margin-left: 15px;
        margin-right: 3px;
        color: #fff;
        font-size: 0.9em;
        border-radius: 20px;
    }
    ol li.income i {
        background-color: #0cd853;
        padding: 5px;
        margin-left: 15px;
        margin-right: 3px;
        color: #fff;
        font-size: 0.9em;
        border-radius: 20px;
    }
    ol li.expense .tipotransacao::before {
        content: '↓';
        color: #fff;
        border-radius: 20px;
        padding: 0px 2px;
        font-size: 15px;
        top: -5px;
        left: -5px;
        position: absolute;
    }
    ol li.income .tipotransacao::before {
        content: '↑';
        background-color: #0cd853;
        color: #fff;
        border-radius: 20px;
        padding: 0px 2px;
        font-size: 15px;
        top: -5px;
        left: -5px;
        position: absolute;
    }
    .classdescription,
    .classtype {
        margin-left: 16px;
        padding-right: 10px !important;
    }
    .classdescription i,
    .classtype i {
        margin-left: -1px !important;
    }
    .classdate {
        margin-left: 0px;
        width: 100%;
    }
    .classdescription,
    .classtype,
    .classdate,
    .classmoney {
        width: 100%;
    }

    .classdescription i,
    .classtype i,
    .classdate i,
    .classmoney i {
        padding-right: 5px;
        display: inline;
    }
}

@media (max-width: 550px) {
    body {
        background-color: #fff !important;
        background-image: url('/assets/images/bg_left_top.jpg');
        background-position: top left;
    }

    .conteudo {
        margin: 0 !important;
    }

    main {
        margin: 0px;
        padding: 0px;
    }
    .column-total-left {
        min-height: 30px;
    }
    .column-total-right {
        height: 40px;
    }

    .total-number {
        font-size: 0.9em;
    }
    .totaldiff {
        font-size: 1.2em;
    }

    .column-title {
        font-size: 0.9em;
    }
    .column-icon i {
        font-size: 1.1em;
    }

    .content-total {
        display: flex;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }
    .content_total_values {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 0 4px 15px 0 rgba(68, 1, 8, 0.1);
    }
    .content_total_values.total1 {
        flex-basis: 50 !important;
        margin-right: 10px;
    }
    .content_total_values.total2 {
        flex-basis: 50 !important;
        margin-right: 0;
    }
    .content_total_values.total3 {
        flex-basis: 100% !important;
        margin-top: 10px;
    }

    ol li {
        width: 100%;
    }

    .list-transactions h1 {
        font-size: 1.1em;
    }

    ol li.expense {
        position: relative;
    }

    ol li.income {
        position: relative;
    }

    ol li button.danger {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        right: 10px !important;
        top: 10px !important;
        opacity: 0.6;
    }

    button.fab {
        bottom: 60px !important;
        right: 10px !important;
    }

    .add-transaction {
        font-size: 1em !important;
        margin-right: 17px;
    }
}
